@keyframes optionList {
	from { background: #DED3BA; }
	25% { text-indent: 20px; }
	to { background: #B3A37F; text-indent: 20px; }
}
@keyframes consoleButton {
	from { width: 22px; }
	to { width: 150px; }
}
