@font-face {
	font-family: "JustBeNice";
	src: url('../Font/WebSymbolsLiga-Regular.otf');
	font-weight: normal;
	font-style: normal;
}
#newConsole {
	background: white;
	height: 150px;
	width: 100%;
}
#newConsoleMenu {
	background: rgb(69,72,77); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	height: 35px;
	width: 100%;
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
}
#newConsoleMenu ul li {
	float: left;
	font-family: 'JustBeNice';	
	height: 24px;
	margin: 3px;
	padding: 0px;
	padding-left: 5px;
	padding-right: 5px;
	width: 22px;
	font-size: 20px;
	color: white;
	padding-top: 4px;
	overflow: hidden;
	background: transparent;
	transition: width 1s, background 1s, border-radius 1s;
}
#newConsoleMenu ul li:hover {
	border-radius: 4px;
	background-color: white;	
	color: black;
	cursor: pointer;
	width: 130px;
	transition: width 1s;
}
#newConsoleMenu ul li span {
	font-family: 'Antipasto';
	font-size: 15px;
	color: black;
	display: none;	
}
#newConsoleMenu ul li:hover span {
	font-family: 'Antipasto';
	font-size: 15px;
	color: black;
	display: inline;
}
#newConsoleMenu ul li span form {
	display: inline;
}
#newConsoleMenu ul li span form input {
	float: right;
	display: inline;
	height: 10px;
	width: 80px;
}
#newConsoleMenu ul.left {
	margin-left: 95%;
}
#newConsoleMenu ul.left li {
	margin-left: 60%;
	margin-top: -5px;
	transition: all 1s;
	font-size: 20px;
	color: orange;
}
#newConsoleMenu ul.left li:hover {
	margin-left: -60%;
	margin-top: -5px;
}
#newConsoleContent {
	height: 300px;
	background-color: #EBEBEB;
}
.newConsoleTime {
	font-size: 13px;
	margin-left: 5px;
	margin-right: 5px;
	float: left;
	width: 100px;
	padding-top: 5px;
}
.newConsoleBar {
	width: 3px;
	height: 30px;
	padding-top: 5px;
	background-color: black;
	float: left;
}
.newConsoleType {
	background-color: green;
	border-radius: 7px;
	margin-left: 10px;
	padding: 5px;
	font-size: 10px;
	float: left;
	color: white;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 5px;
	margin-right: 10px;
	width: 90px;
}
.newConsoleText {
	padding-top: 5px;
	text-indent: 10px;
	margin-left: 10px;
}
.newConsoleLine {
	min-height: 34px;
}
.newConsoleLine:hover {
	background-color: white;
	cursor: pointer;
}
.newConsoleLine:hover .newConsoleDetail {
	display: block;
}
.newConsoleContent {
	height: 0px;
}
.newConsoleDetail {
	display: none;
}
.newConsoleDetail table {
	width: 100%;
}
.newConsoleDetail table tr th {
	background: rgb(91,91,91); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(91,91,91,1) 0%, rgba(81,81,81,1) 47%, rgba(40,52,59,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(91,91,91,1)), color-stop(47%,rgba(81,81,81,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(91,91,91,1) 0%,rgba(81,81,81,1) 47%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(91,91,91,1) 0%,rgba(81,81,81,1) 47%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(91,91,91,1) 0%,rgba(81,81,81,1) 47%,rgba(40,52,59,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(91,91,91,1) 0%,rgba(81,81,81,1) 47%,rgba(40,52,59,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b5b5b', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
	color: white;
	font-weight: normal;
	font-size: 14px;
	height: 25px;
	padding-top: 5px;
	text-align: left;
	text-indent: 15px;
}
.newConsoleDetail table tr th:last-child {
	border-left: 1px solid #898989;
}
.newConsoleDetail table tr td:last-child {
	border-left: 1px dashed #898989;
}
.newConsoleDetail table tr td table tr td:first-child {
	width: 25%;
}
.newConsoleDetail table tr td table tr td {
	text-align: left;
	text-indent: 15px;
}
.newConsoleDetail table tr td table tr {
	height: 25px;
}
.newConsoleDetail table tr td table tr:hover {
	background-color: grey;
	color: white;
}
.icon {
	font-family: 'JustBeNice';
}
.newConsoleTitre {
	font-size: 17px;
	line-height: 30px;
	padding-left: 15px;
	color: black;
	float: left;
}
.newConsoleIconTitle {
	border-radius: 5px;
	padding: 5px;
	height: 20px;
	width: 20px;
	background-color: black;
	color: white;
	font-size: 15px;
	text-indent: 2px;
	margin-left: 5px;
	float: left;
}
.newConsoleFondTitre {
	margin: 5px;
	padding: 5px;
	background-color: white;
	border-radius: 5px;
}

