ul.optionList {
	border-radius: 5px;
	border: 1px solid #A3926D;
	background-color: #D1C19D;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 5px;
}
ul.optionList li:first-child {
	background-color: #D1C19D;
	border: none;
	margin-bottom: 8Px;
	  font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
	  font-size: 18px;
	  color: #2B2B2B;
	  text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px	
}
ul.optionList li {
	padding: 0px;
	margin: 0px;
	margin-top: 5px;	
	background-color: #DED3BA;
	height: 25px;
	border-top: 1px solid #CCB899;
	border-bottom: 1px solid #CCB899;
	padding-top: 5px;
	text-indent: 15px;
}
ul.optionList li:hover {
	animation: optionList 1s;
	cursor:pointer;
}
