/*
 * DECLARATION DES ANIMATIONS : 
 */

@keyframes inputError {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(2deg)
    }
    100% {
        transform: rotate(0deg)
    }
}

/*
 * FIN DES ANIMATIONS
 */





/* ======================================================================================================================================== */






/*
 *  LOGIN PAGE
 */

form.login input[type='text'] {
	border-radius: 3px;
	height: 45px;
	width: 45%;
	font-size: 18px;
	text-indent: 60px;
	background: #EDEDED url('../../../Web/Images/icons/OM/user.png') no-repeat;
	box-shadow: 5px 5px 5px #292929;
}
form.login input[type='password'] {
	border-radius: 3px;
	height: 45px;
	width: 45%;
	font-size: 18px;
	text-indent: 60px;
	background: #EDEDED url('../../../Web/Images/icons/OM/key.png') no-repeat;
	box-shadow: 5px 5px 5px #292929;
}
.errorInput {
	animation-name: inputError;
	animation-duration: 1s;
}
form input[type='submit'] {
	background: #278A32;
	height: 40px;
	width: 200px;
	box-shadow: 5px 5px 5px #292929;
	border: none;
	font-size: 18px;
	color: white;
}

/*
 * FIN LOGIN PAGE
 */






/* ======================================================================================================================================== */



/*
 * ACCUEIL MANAGER
 */

.ca-icon {
	font-size: 50px;
}
.ca-menu {
	margin-left: 0px;
}
.ca-main {
	font-size: 25px;
	margin-bottom: 0px;
}

/*
 * FIN ACCUEIL
 */





/* ======================================================================================================================================== */



/*
 *  BODY TOUSSA
 */


/*
 * FIN BODY TOUSSA
 */