.formHell span {
    color: #a22e2e;
    font-size: 14px;
}

.formHell img {
    margin-top: 7px;
}

.formHell table tr td {
   height: 30px;
}

.formHell select option {
    width: 240px;
    height: 20px;
    font-size: 14px;
    line-height: 35px;
}
.fondIconWow {
    height: 44px;
    width: 44px;
    background: url('../../Images/EM/icon_border.png');
}
.fondIconWow img {
    margin-left: 6px;
    margin-top: 6px;
}
.formHell input[type=submit] {
    height: 25px;
    background-color: #427d3a;
    -moz-border-radius:3px;  
    border-radius: 3px;    
    -webkit-border-radius: 3px;
    border: 1px solid #33612d;
    width: 100px;
    color: white;
    font-family: Myriad Pro;
}

fieldset {
    border: 1px solid #505050;
    -moz-border-radius:5px;  
    border-radius: 5px;  
    -webkit-border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

legend {
    -moz-border-radius:5px;  
    border-radius: 5px;    
    -webkit-border-radius: 5px;
    border-color: #505050;
    background-color: #766751;
    padding: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 15px;
}
.infoBox {
    border: 1px solid #295a66;
    -moz-border-radius:5px;  
    border-radius: 5px;  
    -webkit-border-radius: 5px;
    background-color: #6486a5;
    margin-left: 15px;
    padding: 7px;
    margin-right: 15px;    
}
.validBox {
    border: 1px solid #325d35;
    -moz-border-radius:5px;  
    border-radius: 5px;  
    -webkit-border-radius: 5px;
    background-color: #64a569;
    margin-left: 15px;
    margin-right: 15px;
    padding: 7px;
}
.errorBox {
    border: 1px solid #573131;
    -moz-border-radius:5px;  
    border-radius: 5px;  
    -webkit-border-radius: 5px;
    background-color: #8f3939;
    margin-left: 15px;
    margin-right: 15px;
    padding: 7px;
}
.recupUser tr td:nth-child(odd) {
	background-color: red;
}
.article {
	width: 200px;
	height: 230px;
	background: url('../../Images/Oxygen/boutique/fondArticle.png');
}
